html { height: 100% }
body canvas {
  image-rendering: pixelated;
  border-radius: 10px;
}
body {
  background-color: black;
  margin: 0;
  flex-wrap: nowrap;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
div.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
button.src, button.run {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #df7126;
  color: #000;
  margin-top: 10px;
  width: 100px;
  height: 30px;
  font-family: 'Ubuntu Mono', monospace;
}
div.pages {
  padding-top: 16px;
  margin-right: 30px;
}
a {
  font-family: 'Ubuntu Mono', monospace;
  text-decoration: none;
  color: #ccc;
  margin-right: 15px;
}
.title {
  font-family: 'Ubuntu Mono', monospace;
  color: #df7126;
  margin-right: 8px;
}
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}